<h2>Fornecedores</h2>
<p *ngIf="auth.isInRole('Admin')"> <!--Agora so aparece o botao se o cara for Admin, se eu tivesse colocado *ngIf="auth.authenticated(), bastaria o cara ser autenticado-->
  <a [routerLink]="['/fornecedores/novo']" class="btn btn-primary">Novo Fornecedor</a>
</p>
<!--Montando a tabela-->
<table class="table">
  <thead>
    <tr>
      <th>Foto</th>
      <th>Id</th>
      <th>Nome</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let f of queryResult.items">
      <td >

        <!-- preciso melhorar isso -->
        <div>
          <table >
            <ng-container *ngFor="let c of queryResult.items">
              <tr>
              </tr>
              <tr *ngFor="let i of c.photos">
                <td *ngIf="i.fornecedorId ==  f.fornecedorId ">
                  <img src="/uploads/{{ i.fileName }}" class="img-thumbnail">
                </td>
              </tr>
            </ng-container>
          </table>
        </div>

      </td>
      <td>{{ f.fornecedorId }}</td>
      <td>{{ f.nome }}</td>
      <td>
        <a [routerLink]="['/cardapios/', f.fornecedorId]">Cardapio</a>
      </td>
      <td *ngIf="auth.isInRole('Admin')">
        <a [routerLink]="['/fornecedores/edit/', f.fornecedorId]">Editar</a>
      </td>
    </tr>
  </tbody>
</table>
<!--Paging-->
<pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination>