<div class="card">
  <h1>Novo Fornecedor</h1>
  <!-- <p>
{{ fornecedor | json }}<!--Para ver oque ele esta mandando pro servidor
</p> -->

  <form (ngSubmit)="submit()">
    <h2>Contato:</h2>
    <!--TextBox-->
    <div class="form-group">
      <label for="Nome">Nome</label>
      <input id="fornecedorNome" type="text" class="form-control" [(ngModel)]="fornecedor.nome" name="Nome">
    </div>
    <div class="form-group">
      <label for="Email">Email</label>
      <input id="fornecedorEmail" type="text" class="form-control" [(ngModel)]="fornecedor.email" name="Email">
    </div>
    <div class="form-group">
      <label for="Telefone">Telefone</label>
      <input id="fornecedorTelefone" type="text" class="form-control" [(ngModel)]="fornecedor.telefone" name="Telefone">
    </div>
    <div class="form-group">
      <label for="Nome">Celular</label>
      <input id="fornecedorCelular" type="text" class="form-control" [(ngModel)]="fornecedor.celular" name="Celular">
    </div>
 
    <h2>Endereço:</h2>
    <div class="form-group">
      <label for="Cidade">Cidade</label>
      <input id="fornecedorCidade" type="text" class="form-control" [(ngModel)]="fornecedor.endereco.cidade" name="Cidade">
    </div>
    <div class="form-group">
      <label for="Rua">Rua</label>
      <input id="fornecedorRua" type="text" class="form-control" [(ngModel)]="fornecedor.endereco.rua" name="Rua">
    </div>
    <div class="form-group">
      <label for="Rua">Numero</label>
      <input id="fornecedorRua" type="text" class="form-control" [(ngModel)]="fornecedor.endereco.numero" name="Numero">
    </div>
    <div class="form-group">
      <label for="Bairro">Bairro</label>
      <input id="fornecedorBairro" type="text" class="form-control" [(ngModel)]="fornecedor.endereco.bairro" name="Bairro">
    </div>
    <div class="form-group">
      <label for="Nome">CEP</label>
      <input id="fornecedorCep" type="text" class="form-control" [(ngModel)]="fornecedor.endereco.cep" name="Cep">
    </div>

    <!--Button-->
    <button class="btn btn-primary">Salvar</button>
    <button *ngIf="fornecedor.fornecedorId" class="btn btn-danger" type="button" (click)="delete()">Delete</button>
  </form>
</div>